/* Chat List */
ul.chat-list {
    list-style: none;
    overflow-y: auto;
}

ul.chat-list li {
    padding: 10px;
    cursor: pointer;
}

ul.chat-list li:hover {
    background-color: #ddd;
}

/* Anchor Elements */
ul.chat-list li a {
    padding: 10px;
    cursor: pointer;
    color: black;
    text-decoration: none;
}

/* Activated li */
ul.chat-list li.active {
    background-color: #ddd;
}

/* .everyone */
ul.chat-list li.everyone {
    font-weight: bold;
}