/* সাইডবার লিস্ট এলিমেন্ট */
ul.chat-list {
    list-style: none;
    overflow-y: auto;
}

/* সাইডবার লিস্ট এলিমেন্টের আইটেম */
ul.chat-list li {
    padding: 10px;
    cursor: pointer;
}

/* সাইডবার লিস্ট এলিমেন্টের আইটেম :hover effect */
ul.chat-list li:hover {
    background-color: #ddd;
}

/* সাইডবার লিস্ট এলিমেন্টের আইটেম anchor */
ul.chat-list li a {
    padding: 10px;
    cursor: pointer;
    color: black;
    text-decoration: none;
}

/* activated li */
ul.chat-list li.active {
    background-color: #ddd;
}

/* .everyone */
ul.chat-list li.everyone {
    font-weight: bold;
}