/* Chat Box */
.chat-box {
    flex: 1;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* Contact Info */
.chat-box .contact-info {
    background-color: #efefef;
    color: #666;
    padding: 20px;
}

/* h1 for Active User to Chat */
.chat-box h1 {
    margin-bottom: 10px;
}

/* Conversation */
.chat-box .conversation {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}

/* Single Message */
.chat-box .message {
    margin: 10px 0;
    padding: 10px;
    border-radius: 10px;
    max-width: 60%;
    font-size: larger;

}

/* Received Message */
.chat-box .message.incomming {
    background-color: #f2f2f2;
    align-self: flex-start;
}

/* Sent Message */
.chat-box .message.outgoing {
    background-color: #0056AD;
    color: #fff;
    align-self: flex-end;
    margin-right: 12px;
}

/* Message for Only Like */
.chat-box .message.like {
    background: none;
    font-size: xx-large;
}

.chat-box .message.like::after {
    content: "👍";
}

.chat-box .conversation,
.chat-box .send-message-form {
    padding-left: 20px;
    padding-right: 20px;
}