/* Send Message Form for Sending Message */

.send-message-form {
    display: flex;
    padding-bottom: 10px;
}

/* Message Input */
.send-message-form textarea.message-input {
    outline: none;
    height: 50px;
    width: 100%;
    padding: 10px;
    border: none;
    border-top: 1px solid #ccc;
    font-size: 16px;
    resize: none;
    font-family: Arial, Helvetica, sans-serif;
}

/* Like Button */
.send-message-form .btn-like {
    cursor: pointer;
    /* URL from current location */
    background-image: url(/static/icons/like.png);
    background-size: 100%;
    align-self: center;
    width: 25px;
    height: 25px;
}

/* Like Button :hover Effect */
.send-message-form .btn-like:hover {
    /* URL from current location */
    background-image: url(/static/icons/like2.png);
}

/* Send Button */
.send-message-form button[type="submit"] {
    font-size: larger;
    cursor: pointer;
    background-color: #0056AD;
    color: #fff;
    font-weight: bold;
    margin-left: 7px;
    padding: 15px;
    border: none;
}

/* Send Button :hover Effect */
.send-message-form button[type="submit"]:hover {
    background-color: #0066cc;
}

/* For Converting Button to Flex */
.send-message-form button[type="submit"] {
    display: flex;
}

.send-message-form button[type="submit"] img {
    margin-right: 5px;
    margin-top: 2px;
}