{% extends 'base.html' %}

{% block body %}
<div class="container">
    <aside>
        <hgroup>
            <h1>Messaging App</h1>
            <div class="search-chat-list">
                <input type="text" placeholder="Search..." class="search-input" id="searchInput">
                <img src={{ url_for('static', filename='icons/search.png' ) }} alt=" Search" width="15" />
            </div>
        </hgroup>
        <ul class="chat-list" id="chatList">
            <!-- <li class="active everyone">@everyone</li> -->
            {% for username in usernames %}
            {% if loop.index0 == 0 %}
            <li class="active"><a href="#">{{ username }}</a></li>
            {% else %}
            <li><a href="/{{ username }}">{{ username }}</a></li>
            {% endif %}
            {% endfor %}
        </ul>
    </aside>
    <main class="chat-box">
        <div class="contact-info">
            <h2>{{ current_username }}</h2>
        </div>
        <div class="conversation" id="conversation">
            <div class="message incomming" title="John Doe at Friday, March 17, 2023 at 8:36:59 PM">Hi, how are
                you?</div>
            <div class="message outgoing" title="me at Friday, March 17, 2023 at 8:37:59 PM">I'm good, thanks. How
                about you?</div>
            <div class="message incomming" title="John Doe at now">I'm doing well, thanks for asking.</div>
            <div class="message incomming like" title="John Doe at now"></div>
            <div class="message outgoing like" title="me at now"></div>
        </div>
        <form action="" class="send-message-form" id="sendMessageForm">
            <textarea placeholder="Type your message..." class="message-input" id="messageInput"></textarea>
            <span class="btn-like" id="btnLike">
                <!-- Like icon by CSS -->
            </span>
            <button type="submit">
                <img src={{ url_for('static', filename='icons/send.png' ) }} alt="Search" width="15" />
                <span>Send</span>
            </button>
        </form>
    </main>
    <a title="Get Source on GitHub" href="https://github.com/mahfuz225bd/messaging-app" class="github-source-link"
        target="_blank">
        <!-- <img src={{ url_for('static', filename='img/available-on-github.png' ) }} alt="Available Source on GitHub"
            width="100"> -->
    </a>
</div>
{% endblock %}