{% extends 'base.html' %}

{% block body %}
<div class="container direction-column h-center v-center">
    <form class="form login-form" action="/login_action" method="post">
        <input type="text" id="username" placeholder="Username" name="username">
        <br>
        <input type="password" id="password" placeholder="Password" name="password">
        <br>
        <button type="submit" class="btn-primary btn-login">Login</button>
        <p class="space-top-bottom"><a href="https://google.com/">Forgotten Password?</a></p>
        <br>
        <hr>
        <button type="button" class="btn-success btn-registration">Create new Account</button>
    </form>
</div>
{% endblock %}